@import url("./reset.css");
@import url("./burger.css");
@import url("./header.css");
@import url("./sections/arthrohard.css");
@import url("./sections/what.css");
@import url("./sections/why.css");
@import url("./sections/contain.css");
@import url("./footer.css");

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 187px;
  }
}
