.arthrohard-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.container-big {
  width: 100%;
  background: rgba(241, 241, 241, 1);
}
.arthrohard-title {
  display: none;
}
.arthrohard-sub-title {
  font-weight: 450;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.arthrohard-text {
  text-align: center;
  margin-bottom: 85px;
}
.arthrohard-btn {
  display: none;
}

@media (min-width: 768px) {
  .arthrohard-container {
    flex-direction: row;
    gap: 50px;
  }
  .arthrohard-title {
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .arthrohard-title span {
    color: red;
  }
  .arthrohard-sub-title {
    text-align: start;
    font-size: 30px;
  }
  .arthrohard-content {
    margin-top: 50px;
  }
  .arthrohard-image {
    margin-bottom: 33px;
  }
  .arthrohard-text {
    margin-bottom: 20px;
    text-align: start;
  }
  .arthrohard-btn {
    display: block;
    padding: 10px 30px;
    background-color: rgba(48, 171, 76, 1);
    font-weight: 700;
    font-size: 18px;
    color: white;
    transition: all 0.4s ease;
  }
  .arthrohard-btn:hover {
    background-color: rgb(8, 71, 23);
  }
}
@media (min-width: 1920px) {
  .container-big {
    background: rgba(246, 246, 246, 1);
  }
  .arthrohard-content {
    margin-top: 170px;
  }

  .arthrohard-title {
    font-size: 120px;
    margin-bottom: 33px;
  }
  .arthrohard-sub-title {
    font-size: 48px;
    width: 800px;
  }
  .arthrohard-text {
    font-size: 20px;
    width: 700px;
  }
  .arthrohard-btn {
    padding: 10px 40px;
    font-size: 20px;
  }
}
