.contain-effect {
  position: relative;
}

.contain-effect-left,
.contain-effect-right {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 4.375rem;
  height: 8.5625rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.contain-effect-left {
  left: -0.9375rem;
  background-image: url("../../images/effect-left.png");
}

.contain-effect-right {
  right: -0.9375rem;
  background-image: url("../../images/effect-right.png");
}

.contain-item-title {
  font-size: 0.8125rem;
  position: relative;
}

.contain-item-title:after {
  position: absolute;
  content: "";
  top: -13.75rem;
  left: 0;
  width: 100%;
  height: 1.0625rem;
  background-color: rgba(241, 241, 241, 1);
}

.contain-list {
  display: grid;
  row-gap: 4.375rem;
  column-gap: 1.25rem;
  margin-bottom: 4.375rem;
}

.contain-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.25rem;
}

.contain-item h2 {
  font-size: 1.25rem;
}

.contain-item p {
  font-size: 0.8125rem;
}

.contain-images-small {
  display: grid;
  row-gap: 0.5rem;
}

.contain-images {
  display: none;
}

@media (min-width: 48rem) {
  .contain-list {
    row-gap: 2.5rem;
  }

  .contain-item-title {
    position: static;
    margin: 0 auto;
    font-size: 1.25rem;
    width: 31.25rem;
    margin-bottom: 3.75rem;
  }

  .contain-item-title:after {
    display: none;
  }

  .contain-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 0.875rem;
  }

  .contain-list > :nth-child(add) {
    justify-self: start;
  }

  .contain-list > :nth-child(even) {
    justify-self: end;
  }

  .last-content-item {
    display: none;
  }

  .contain-effect-left,
  .contain-effect-right {
    display: none;
  }

  .contain-image-bottle {
    display: none;
  }

  .contain-images-small {
    display: none;
  }

  .contain-images {
    display: block;
    margin-top: -3.125rem;
  }
}

@media (min-width: 120rem) {
  .contain-item-title {
    font-size: 1.9375rem;
    margin-bottom: 7.5rem;
  }

  .contain-effect {
    position: static;
  }

  .contain-title {
    padding-top: 3.125rem;
    font-size: 3rem;
  }

  .contain-item {
    width: 26.0625rem;
  }

  .contain-item p {
    font-size: 1.25rem;
  }

  .contain-icon {
    width: 4.375rem;
    height: 4.375rem;
  }

  .contain-images {
    margin-top: -78.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contain-image-bottle {
    display: block;
    width: 50rem;
    height: 81.25rem;
    position: relative;
  }
}
