.what {
  position: relative;
}
.what-effect-left,
.what-effect-right {
  position: absolute;
  width: 63px;
  height: 162px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.what-effect-left {
  overflow: hidden;
  top: -90px;
  left: 0;
  background-image: url("../../images/effect-left.png");
}
.what-effect-right {
  overflow: hidden;
  top: -10px;
  right: 0;
  background-image: url("../../images/effect-right.png");
}
.what-title {
  padding-top: 70px;
  font-weight: 450;
  font-size: 20px;
  text-align: center;
  margin-bottom: 90px;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
}
.what-title::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
}
.what-list {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
.what-item-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  line-height: 1.5;
}
.what-item-title::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
}
.what-item-subtext {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}
.what-item-text {
  font-size: 13px;
  text-align: center;
}
.what-item-content {
  margin-bottom: 30px;
}
.image-underlined {
  position: relative;
}
.image-underlined::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
}
.what-item-image {
  width: 270px;
  height: 290px;
  margin: 0 auto;
}
.what-item-image {
  width: 270px;
  height: 290px;
}
.what-item-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 30px;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
}
.circle span {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
.what-item-option {
  display: flex;
  gap: 20px;
  align-items: center;
}
.what-item-option p {
  color: rgba(0, 0, 0, 1);
  font-size: 13px;
}
.what-item-images {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.half-image {
  height: 290px;
  width: 135px;
  margin: 0 auto;
}
.what-item:first-child .decoration-effect-left,
.what-item:first-child .decoration-effect-right {
  display: none;
}

.what-item-content {
  position: relative;
}
.decoration-effect-left,
.decoration-effect-right {
  position: absolute;
  overflow: hidden;
  top: -40px;
  width: 53px;
  height: 137px;
  background-repeat: no-repeat;
  background-size: contain;
}
.decoration-effect-left {
  overflow: hidden;
  left: -15px;
  background-image: url("../../images/effect-left.png");
}
.decoration-effect-right {
  overflow: hidden;
  right: -15px;
  background-image: url("../../images/effect-right.png");
}

@media (min-width: 1920px) {
  .what-title {
    padding-top: 153px;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 155px;
  }
  .what-list {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 116px;
    gap: 206px;
  }
  .what-item-options {
    align-items: start;
  }
  .circle {
    width: 46px;
    height: 46px;
  }
  .what-item-content {
    width: 417px;
    height: 286px;
    text-align: center;
    margin-bottom: 50px;
  }
  .what-item-option p {
    font-size: 20px;
  }
  .what-item-title {
    font-size: 31px;
    width: 400px;
  }
  .what-item-subtext {
    font-size: 20px;
  }
  .what-item-text {
    font-size: 20px;
    width: 440px;
  }
  .what-item-image {
    width: 360px;
    height: 290px;
  }
  .what-item-image img {
    width: 360px;
    height: 290px;
  }
  .half-image {
    width: 170px;
    height: 290px;
  }
  .half-image img {
    width: 170px;
    height: 290px;
  }
  .what-effect-left,
  .what-effect-right {
    width: 318px;
    height: 812px;
  }
  .what-effect-left {
    top: -90px;
    left: 400px;
  }
  .what-effect-right {
    top: -200px;
    right: 400px;
  }
  .what-item:first-child .decoration-effect-left,
  .what-item:first-child .decoration-effect-right {
    display: block;
  }
  .decoration-effect-left,
  .decoration-effect-right {
    position: absolute;
    top: 450px;
    height: 195px;
  }
  .decoration-effect-left {
    left: -40px;
  }
  .decoration-effect-right {
    right: 40px;
    transform: rotate(45deg);
  }
}
