.effect,
.contain-list {
  position: relative;
}
.why-effect-left,
.why-effect-right {
  position: absolute;
  overflow: hidden;
  top: -180px;
  width: 70px;
  height: 137px;
  background-repeat: no-repeat;
  background-size: contain;
}
.why-effect-left {
  overflow: hidden;
  left: -15px;
  background-image: url("../../images/effect-left.png");
}
.why-effect-right {
  overflow: hidden;
  right: -15px;
  background-image: url("../../images/effect-right.png");
}
.why-item-options {
  align-items: flex-start;
  margin-bottom: 50px;
}
.why-item-options p {
  width: 220px;
}

.why-item-option {
  justify-content: space-between;
}
@media (min-width: 768px) {
  .why-item-options {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1920px) {
  .why {
    display: none;
  }
}
